<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- res.config.settings form view -->
    <record id="res_config_settings_view_form" model="ir.ui.view">
        <field name="name">res.config.settings.view.form</field>
        <field name="model">res.config.settings</field>
        <field name="inherit_id" ref = "base.res_config_settings_view_form" />
        <field name="arch" type="xml">
            <xpath expr="//div[hasclass('settings')]" position="inside">
                <div class="app_settings_block" data-string="Google Sheet" string="Google Sheet" data-key="google_sheet_data_import">
                    <h2>Google Sheet Credentials</h2>
                    <div class="row mt16 o_settings_container">
                        <div class="col-12 col-lg-6 o_setting_box">
                            <div class="o_setting_right_pane">
                                <span class="o_form_label">Confirmation Email</span>
                                <div class="row mt16">
                                    <label for="email" string="Email" class="col-lg-4 o_light_label"/>
                                    <field name="email" class="oe_inline"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 o_setting_box">
                            <div class="o_setting_right_pane">
                                <div class="mt16">
                                    <label for="p12_json_key" string="JSON File" class="col-lg-4 o_light_label"/>
                                    <field name="p12_json_key" class="oe_inline"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>Help</h2>
                    <div class="col-12 col-lg-12 o_setting_box">
                        <div class="o_setting_left_pane">
                            <ol>
                                <li>
                                    <p>In the Cloud Console, go to the <strong>Service Accounts</strong> page. <a class="btn btn-link" role='button' href="https://console.cloud.google.com/iam-admin/serviceaccounts" target="_new">Go to Service accounts</a>
                                    </p>
                                </li>
                                <li>
                                    <p>Select a project.</p>
                                </li>
                                <li>
                                    <p>Click the email address of the service account that you want to create a key
                            for.</p>
                                </li>
                                <li>
                                    <p>Click the <strong>Keys</strong> tab.</p>
                                </li>
                                <li>
                                    <p>Click the <strong>Add key</strong> drop-down menu, then select <strong>Create new key</strong>.
                                    </p>
                                </li>
                                <li>
                                    <p>Select a <strong>Key type</strong> and click <strong>Create</strong>.
                                    </p>
                                </li>
                                <li>
                                    <p> If You Have Already Created Api Key And File Than Just <strong>Enable</strong> It From Click Here.<a class="btn btn-link" role='button' href="https://console.cloud.google.com/apis/api/sheets.googleapis.com/overview" terget="new">Enable API</a>
                                    </p>
                                </li>
                            </ol>

                            <p>Clicking <strong>Create</strong> downloads a service account key file. After you download the
                            key file, you cannot download it again.</p>

                            <p>Make sure to store the key file securely, because it can be used to authenticate
                            as your service account. You can move and rename this file however you would
                            like.</p>

                        </div>
                        <div class="o_setting_right_pane">
                            <hr/>
                            <h3 class="pull-right"> 
                                For More Help. Please visit at <a role='button' href="https://cloud.google.com/iam/docs/creating-managing-service-account-keys#creating_service_account_keys" id="action_create_service_acc_key" class="btn btn-link" target="_new">
                                <h3 style="margin-top: 5px;">Creating service account keys</h3>
                            </a>
                             </h3>
                        </div>
                    </div>
                </div>
            </xpath>
        </field>
    </record>

<!-- model.name action window -->
<record id="action_google_spreadsheet_config" model="ir.actions.act_window">
    <field name="name">Google Sheet Settings</field>
    <field name="type">ir.actions.act_window</field>
    <field name="res_model">res.config.settings</field>
    <field name="view_mode">form</field>
    <field name="view_id" ref ="res_config_settings_view_form"/>
    <field name="target">inline</field>
    <field name="context">{'module' : 'google_sheet_data_import'}</field>
</record>

<menuitem id="menu_import_data_configuration" name="Configuration" parent="menu_google_sheet" 
        sequence = '100' />

<menuitem id="menu_import_data_setting" name="Setting" parent="menu_import_data_configuration"
        sequence = '10' action="action_google_spreadsheet_config" />
</odoo>